@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-once {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-once {
  animation-name: bounce-once;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
